/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27 févr. 2022, 20:19:19
    Author     : hamdi
*/
.parent{
    -fx-background-color: transparent;
}
.pane{
   -fx-background-color: #FF0000; 
}
.trans-btn-white-border{
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5px;
    -fx-border-width: 3px;
    -fx-text-fill: whitesmoke;
}
.white-pane{
    -fx-background-color: #ffffff;
}
.blue-panel{
    -fx-background-color: #FFFFFF;
}
.tf_box{
    -fx-background-color: transparent;
    -fx-border-color: #DEDEE4;
    -fx-border-width: 0px 0px 1px 0px;
}
.tf{
    -fx-background-color: transparent;    
}
.blue-btn{
    -fx-background-color: #696969;
    -fx-background-radius: 5px;
    -fx-text-fill: white;
}
