.white-background {
  -fx-background-color: #ffff;
}

.transparent {
  -fx-background-color: rgba(0, 0, 0, 0);
}

.round-layout {
  -fx-border-radius: 50;
  -fx-border-color: #d7d7d7;
}

.selected {
  -fx-background-color: #f3f3f3;
}

.mouse-moved :hover {
  -fx-background-color: #e4e4e4;
}

.shadow {
  -fx-effect: dropShadow(three-pass-box, rgba(0, 0, 0, 0), 10, 0, 0, 10);
}
.table-view .column-header * {
	-fx-text-align: center;
	-fx-padding: 0px;
	-fx-color: #fff;
	
    -fx-background-color: #ff523b;
}

.table-view .column-header .label {
    -fx-text-fill: white;
}